<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267859087965-15vg37famie6cttlabuk13aj7aqep1ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267859087965-15vg37famie6cttlabuk13aj7aqep1ie</string>
	<key>API_KEY</key>
	<string>AIzaSyAfhjyk877kCYj42pE2Qy6doD1TLqh2JdU</string>
	<key>GCM_SENDER_ID</key>
	<string>267859087965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elizeurs.InstagramCopy</string>
	<key>PROJECT_ID</key>
	<string>instagramcopy-3da44</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcopy-3da44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267859087965:ios:e7df31a6c956cb8d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramcopy-3da44.firebaseio.com</string>
</dict>
</plist>